name: Update README

on:
  workflow_dispatch:
  schedule:
    - cron: '47 1 * * *'
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Install Kotlin
        run: sudo snap install --classic kotlin
      - name: Update README
        run: ./update.main.kts
      - name: Commit and push changes
        run: |
          git config --local user.email "action@kotov.lv"
          git config --local user.name  "GitHub Action"
          git add README.adoc
          git diff-index --quiet HEAD || git commit -m "Automatically update README.adoc"
          git push
